@use 'colors';
@use 'variables';
@use 'sass:color';

@mixin make-glassy($tint: #fff, $blur: 30px, $depth: 1.5rem) {
  $glass-gleam: color.change(color.change($tint, $lightness: 90%), $alpha: 0.2);
  $glass-glow: color.change(color.change($tint, $lightness: 90%), $alpha: 0.075);
  $glass-shadow: color.change(color.change($tint, $lightness: 30%), $alpha: 0.075);
  box-shadow:
    inset 0.25px 0.5px 1px $glass-gleam,
    inset calc($depth / 4) $depth $depth $glass-glow,
    inset calc($depth / -4) calc($depth * -1) $depth $glass-shadow,
    //inset -0.5px -2px 2px $glass-glow,
    1px 2px 8px $glass-shadow;
  backdrop-filter: blur($blur);
}

@mixin make-inset {
  box-shadow:
    -0.5px -1px 25px colors.$container-border-left,
    1px 2px 2px colors.$container-border-right,
    inset 1.25px 2.5px 5px colors.$container-border-bottom;
}

@mixin make-container-layout {
  padding: variables.$container-padding;
  border-radius: variables.$container-radius;
}
@mixin make-container-color {
  background: colors.$container-background;
  @include make-glassy;
}

@mixin make-container {
  @include make-container-layout;
  @include make-container-color;
}
