@use './layout';

form {
  display: flex;
  flex-direction: column;
  gap: layout.$container-gap;
}

fieldset {
  @include layout.make-container-layout;
  display: flex;
  flex-direction: column;
  gap: layout.$container-gap;
}

input,
input[type='password'],
input[type='email'],
textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  float: left;
  margin-right: 0.5em;
  width: 1.25em;
  height: 1.25em;
}
