name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.1

      - name: Install npm dependencies
        run: npm ci
      - name: Install Electron dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgtk-3-0 \
            libnss3 \
            libxss1 \
            libasound2 \
            libxtst6 \
            libxrandr2 \
            libatk-bridge2.0-0 \
            libdrm2 \
            libgbm1
      - name: Install Playwright dependencies
        run: npx playwright install-deps
      - name: Test standard build (not for integration testing)
        run: npm run build:main
      - name: Run tests (will rebuild for integration testing)
        run: xvfb-run npm run test --if-present