name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.1

      - name: Prepare for CI
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm ci
      - name: Test standard build (not for integration testing)
        run: npm run build:main
      - name: Run tests (will rebuild for integration testing)
        run: xvfb-run npm run test --if-present

  windows-build:
    permissions:
      contents: read
      actions: write
      checks: write

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.1

      - name: Prepare for CI
        run: npm ci
      - name: Build the Windows installer
        run: npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: dist/**/*.exe